[user]
  name = Valentin Lafage
  email = valentin.lafage-extern@ampere.cars
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC5i6IcytP8yiBYsIpthH2e45tgcfkZh8AUNU4btYK/g35mB9CbXSqALqyTHCyvTfK7eonhrQIRBRaVNKHmxMDXDDWG/tn0BqtrrxRkMVB51/dcRsdH4OMpASdBjd65uhbic43CbxdpC9bOmGmeCBD/XPNG8tXVNIcZpzBNOOjwI/RDW/ARzeAty7mVAP0Ha+37sYGo57U8e3+heP24Hs9mwNMj0PFE6X1Kd6fHMvJkOPSwZ3EUIIRAv2thL+UxofXAy/4l7yUjLb5DcWhLZLKPg13aFvEa2cXn/ovjIVaMFI9xivUP4KikYSW+rwSCOOQJODciMkFuCmSCI2JAinL5qb30GJGc8vUN/bnZfXLLrmmwGSPPJqMaA7cciDVSByErDQpYOiEaxSBM2ii3pEAHMFEutbV5kJnjhGTQDOhXJRVEQxYZUIajdX6zNy3ObYw9ozYDT/vPHTSWcmTjF5FTt7xSYQlgN2c86et7nphCHczTeRPdgNm/5Z6DhGOBuH0bJSRPkgRAZ6giP7+lUo0icVqg0htN8hwhZYUjbYvsSZX5f9JCxbqA9mgvxopYvSadBReTFM9oZTWOm9znR4MM8KSPQfpIbKxUuXwTSXQCOFa35ps9lrlX5h3MrxHj+840mP70iCxYS9BZ6zHxnB/fjL00o3XbhsERr9WAQqx3GQ==
[pull]
  rebase = true
[push]
  default = current
[alias]
  amd = commit --amend --no-edit
  br = branch
  cm = commit -s
  co = checkout
  cp = cherry-pick
  gr = log --oneline --graph
  ko = reset --hard HEAD
  ls = log --oneline -5
  st = status
[diff]
  tool = meld
[difftool]
  prompt = false
[core]
  editor = vim
[color]
  ui = auto
[gpg]
  format = ssh
[gpg "ssh"]
  program = /opt/1Password/op-ssh-sign
[commit]
  gpgsign = true
[credential]
  helper = store
